<%= stylesheet_link_tag params[:controller] %>
<header class="business-header">
  <img class="logo rounded-circle" src="https://i.pinimg.com/236x/98/f4/ff/98f4ff36a9faadc62bf9deabe1859676--design-humor-the-gathering.jpg">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    <h1 class="tagline">Magic at home</h1>
                    <p>De nouveaux amis et rivaux <br>vous attendent sur Magic At Home ! </p>
                    <br>
                    <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-primary" style="width:auto;">Se connecter</button>
                    <h5 onclick="document.getElementById('id02').style.display='block'"
                      class="btn text-white" style="width:auto;">Pas encore inscrit? Clique ici !</h5>
                </div>
            </div>
        </div>
<!-- modal se connecter -->
        <div class="container-modal">
          <div id="id01" class="modal">
            <div class="row-modal ">
              <div class="col-md-9 ">
                <div class="modal-content-log">
                <div class="imgcontainer">
                  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>
                <div class="container text-white">
                    <a class="btn btn-sm btn-primary btn-simple active" href="#p1" data-toggle="tab">Près de chez vous</a>
                    <a class="btn btn-sm btn-primary btn-simple" href="#p2" data-toggle="tab">Par ville</a>
                  <div class="tab-pane fade show active" id="p1">
                    <%= form_for @user, url: {:controller => 'devise/sessions', action: "create"} do |f| %>
                      <div class="field">
                        <%= f.label :email %><br />
                        <%= f.email_field :email,autofocus: true, autocomplete: "email" %>
                      </div>
                      <div class="field">
                        <%= f.label :passeword %><br />
                        <%= f.password_field :email, autocomplete: "password" %>
                      </div>
                      <div class="actions">
                        <%= f.submit "Log in", class: "btn btn-primary" %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
<!-- modal se conecter -->
<!-- modal par encore inscrit -->
        <div class="container-modal">
          <div id="id02" class="modal">
            <div class="row-modal">
              <div class="col-md-9">
                <div class="modal-content-log ">
                <div class="imgcontainer">
                  <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>
                <div class="container text-white">

                    <a class="btn btn-sm btn-primary btn-simple active" href="#p1" data-toggle="tab">Près de chez vous</a>
                    <a class="btn btn-sm btn-primary btn-simple" href="#p2" data-toggle="tab">Par ville</a>
                  <div class="tab-pane fade show active" id="p1">
                    <%= form_for @user, url: {:controller => 'devise/registrations', action: "create"} do |f| %>
                    <div class="field">
                      <%= f.label :email %><br />
                      <span class="field_email"><%= f.email_field :email,autocomplete: "email" %></span>
                    </div>

                    <div class="field">
                      <%= f.label :password %>
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                      <%= f.password_field :password, autocomplete: "new-password" %>
                    </div>

                    <div class="field">
                      <%= f.label :password_confirmation %><br />
                      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                    </div>

                    <div class="actions">
                      <%= f.submit "Sign up",class: "btn btn-primary" %>
                    </div>
                  <% end %>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
</header>
<section class="intro">
  <div class="container">
    <h1 class="stepper-title">Comment ça marche ? &darr;</h1>
  </div>
</section>
<section id=timeline>
	<div class="demo-card-wrapper">
		<div class="demo-card demo-card--step1">
			<div class="head">
				<div class="number-box">
					<span><i class="fas fa-sign-out-alt"></i></span>
				</div>
				<h2> Je m'inscris</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="../assets/ce1.jpg" alt="Graphic">
			</div>
		</div>
		<div class="demo-card demo-card--step2">
			<div class="head">
				<div class="number-box">
					<span><i class="fas fa-calendar-alt"></i></span>
				</div>
				<h2> Je recherche un événement</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="../assets/ce2.jpg" alt="Graphic">
			</div>
		</div>
		<div class="demo-card demo-card--step3">
			<div class="head">
				<div class="number-box">
					<span><i class="fas fa-trophy"></i></span>
				</div>
				<h2> Je recherche un adversaire</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="../assets/ce3.jpg" alt="Graphic">
			</div>
		</div>
		<div class="demo-card demo-card--step4">
			<div class="head">
				<div class="number-box">
					<span><i class="fab fa-searchengin"></i></span>
				</div>
				<h2> On organise la rencontre</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="../assets/ce4.jpg" alt="Graphic">
			</div>
		</div>
	<div class="demo-card demo-card--step5">
			<div class="head">
				<div class="number-box">
					<span><i class="fas fa-beer"></i></span>
				</div>
				<h2> je savoure ma victoire</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="http://placehold.it/1000x500" alt="Graphic">
			</div>
		</div>
	</div>
</section>
