<%= stylesheet_link_tag params[:controller] %>
<div class="wrapper ">
  <%= render 'navbar', :layout => 'navbar' %>
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card ">
            <div class="card-header">
              <h4 class="card-title"> Modifier cette partie</h4>
            </div>
                <div class="card-body">
                  <%= form_for @game, url: {action: "update"} do |f| %>
                   <%= f.text_field :date, class: "form-control", placeholder: "Date (JJ/MM/AAAA)" %><br>
                   <%= f.text_field :place, class: "form-control", placeholder: "Lieu" %><br>
                   <%= f.text_field :game_format, class: "form-control", placeholder: "Format joué" %><br>
                   <%= f.text_area :description, class: "form-control", placeholder: "  Description" %><br>
                   <%= f.submit "Modifier cette partie", class: "btn btn-primary" %><br>
                  <% end %>
                </div>
        </div>
    </div>
</div>