<%= stylesheet_link_tag params[:controller] %>
<div class="wrapper ">
  <%= render 'navbar', :layout => 'navbar' %>
  <%= render 'alert', :layout => 'alert' %>
    <div class="content">
      <div class="row">

      <!-- creator player -->
          <div class="col-md-3">
            <div class="card  card-user">
              <div class="card-body ">
                <p class="card-text">
                  <div class="author">
                    <div class="block block-one"></div>
                    <div class="block block-two"></div>
                    <div class="block block-three"></div>
                    <div class="block block-four"></div>
                    <a href="#">
                      <img class="avatar" src="/assets/anime6.png" alt="...">
                      <h5 class="title"><%= User.find(@game.user_creator_id).profile.username %></h5>
                    </a>
                    <p class="description">
                      Créateur de la partie
                    </p>
                  </div>
                </p>
                <h4 class="card-description text-center">
                de <%= User.find(@game.user_creator_id).profile.city %><br>
                Format préféré : <%= User.find(@game.user_creator_id).profile.favorite_format %><br>
                Couleur de prédilection : <%= User.find(@game.user_creator_id).profile.favorite_color %><br>
                </h4>
              </div>
            </div>
          </div>

    <!-- game -->
        <div class="col-md-4 text-center">
          <i class="fas fa-dice-d20 " style="color:white; font-size:50px; margin-bottom:20px;"></i>
          <div class="card ">
            <div class="card-header">
              <h4 class="card-title float-left"> La partie </h4>
            </div>
            <div class="card-body">
              <h2>Format joué: <%=@game.game_format%></h2><br>
              <h2><i class="fas fa-calendar-alt"></i><%=  @game.date.strftime(' %d-%m-%Y')%></h2> <br>
              <h2><i class="fas fa-map-pin"></i> <%=@game.place%></h2> <br>
              <h3><%=@game.description%></h3>
              <% if @game.user_creator_id == current_user.id %>
                <a href="<%= edit_game_path(@id) %>" class="btn btn-primary">Modifier la partie</a>
                <%= link_to 'Supprimer la partie',  @game,  method: :delete, data: { confirm: 'Voulez vous supprimer la partie ?' }, class: "btn btn-primary"%>
              <% else %>
                  <% if @game.user_opponent_id == nil %>
                      <%= button_to "Rejoindre la partie", game_path(@game), :method => :post, class: "btn btn-primary" %>
                  <% elsif @game.user_opponent_id == current_user.id%>
                      <%= button_to "Quitter la partie", game_path(@game), :method => :post, class: "btn btn-primary" %>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>

    <!-- opponent player -->
        <div class="col-md-3">
            <div class="card  card-user">
              <div class="card-body ">
              <% if @game.user_opponent_id == nil %>
                <p class="card-text">
                  <div class="author">
                    <div class="block block-one"></div>
                    <div class="block block-two"></div>
                    <div class="block block-three"></div>
                    <div class="block block-four"></div>
                    
                      <i class="avatar fas fa-user-slash" style="color:white; font-size:100px;"></i>
                      <h5 class="title">disponible</h5>
                    
                    <p class="description">
                      Aucun adversaire
                    </p>
                  </div>
                </p>
                <h4 class="card-description text-center">
                </h4>
              <% else %>
                <p class="card-text">
                  <div class="author">
                    <div class="block block-one"></div>
                    <div class="block block-two"></div>
                    <div class="block block-three"></div>
                    <div class="block block-four"></div>
                    <a href="#">
                      <img class="avatar" src="/assets/Jacquouille.jpg" alt="...">
                      <h5 class="title"><%= User.find(@game.user_opponent_id).profile.username %></h5>
                    </a>
                    <p class="description">
                      Adversaire
                    </p>
                  </div>
                </p>
                <h4 class="card-description text-center">
                de <%= User.find(@game.user_opponent_id).profile.city %><br>
                Format préféré : <%= User.find(@game.user_opponent_id).profile.favorite_format %><br>
                Couleur de prédilection : <%= User.find(@game.user_opponent_id).profile.favorite_color %><br>
                </h4>
              <% end %>
              </div>
            </div>
        </div>

      <!-- comments -->
        <div class="col-md-10">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title float-left"> Commentaires : </h4>
            </div>
            <div class="card-body text-center">
                <%= form_with(model: [ @game, @game.game_comments.build ], local: true) do |form| %>
                <p>
                  <%= form.text_field :username, value: current_user.profile.username, class:"form-control" %>
                </p>
                <p>
                  <%= form.text_area :body, class:"form-control" %>
                </p>
                <p>
                  <%= form.submit 'Ajouter un commentaire', class: 'btn btn-primary' %>
                </p>
              <% end %>
            </div>
            <% if @game.game_comments.present? %>
              <% @game.game_comments.each do |comment|%>
                <div class="row comments mb-4 text-center">
                  <div class="col-sm-2">
                    <img id="profile-photo" src="/assets/Jacquouille.jpg" class="rounded-circle" style="width:50px;" />
                    <h4 class="m-0"><%= comment.username %></h4>
                  </div>
                  <div class="col-sm-6">
                      <p class="text-white ml-3"><%= comment.created_at %></p>
                      <p class="mb-0 text-white"><%= comment.body%></p>
                  </div>
                </div>
              <% end %>
            <% else %>
            <% end %>
          </div>
        </div>
        <!-- end comments -->
      </div>
    </div>
</div>