<%= stylesheet_link_tag params[:controller] %>

  <div class="wrapper ">
  <%= render 'navbar', :layout => 'navbar' %>
  <%= render 'alert', :layout => 'alert' %>
      <div class="content">
        <div class="row">
          <div class="col-md-9">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Modifiez votre profil</h5>
              </div>
              <div class="card-body">
                <%= form_for @profile, url: { action: "update"} do |f| %>
                  <div class="row">
                    <div class="col-md-3 px-md-3">
                      <div class="form-group">
                        <label>Pseudo</label>
                            <% if @profile.username != nil %>
                            <%= f.text_field :username, class: "form-control", value: @profile.username %><br>
                            <% else %>
                             <%= f.text_field :username, class: "form-control", placeholder: "" %><br>
                            <% end %>
                      </div>
                    </div>
                  <div class="col-md-4 pl-md-3">
                      <div class="form-group">
                        <label for="exampleInputEmail1">email</label>
                        <% if @user.email != nil %>
                            <p class="form-control"> <%= @user.email %></p>
                            <% else %>
                        <% end %>
                      </div>
                    </div> 
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Rue (facultatif)</label>
                        <% if @profile.street != nil %>
                            <%= f.text_field :street, class: "form-control", value: @profile.street %><br>
                            <% else %>
                             <%= f.text_field :street, class: "form-control", placeholder: "" %><br>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-md-4 pr-md-1">
                      <div class="form-group">
                        <label>Code Postal</label>
                        <% if @profile.zip != nil %>
                            <%= f.text_field :zip, class: "form-control", value: @profile.zip %><br>
                            <% else %>
                             <%= f.text_field :zip, class: "form-control", placeholder: "" %><br>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-md-4 pl-md-1">
                      <div class="form-group">
                        <label>Ville</label>
                        <% if @profile.city != nil %>
                            <%= f.text_field :city, class: "form-control", value: @profile.city %><br>
                            <% else %>
                             <%= f.text_field :city, class: "form-control", placeholder: "" %><br>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-md-4 px-md-1">
                      <div class="form-group">
                        <label>Pays</label>
                        <% if @profile.country != nil %>
                            <%= f.text_field :country, class: "form-control", value: @profile.country %><br>
                            <% else %>
                             <%= f.text_field :country, class: "form-control", placeholder: "" %><br>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Biographie</label>
                        <% if @profile.bio != nil %>
                            <%= f.text_area :bio, class: "form-control", value: @profile.bio %><br>
                            <% else %>
                             <%= f.text_area :bio, class: "form-control", placeholder: "" %><br>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Couleur jouée </label>
                        <% if @profile.favorite_color != nil %>
                            <%= f.text_field :favorite_color, class: "form-control", value: @profile.favorite_color %><br>
                            <% else %>
                             <%= f.text_field :favorite_color, class: "form-control", placeholder: "" %><br>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Format joué </label>
                        <% if @profile.favorite_format != nil %>
                            <%= f.text_field :favorite_format, class: "form-control", value: @profile.favorite_format %><br>
                            <% else %>
                             <%= f.text_field :favorite_format, class: "form-control", placeholder: "" %><br>
                        <% end %>
                      </div>
                    </div>
                  </div>
                
              </div>
              <div class="card-footer">
                 <%= f.submit "Modifier mon profil", class: "btn btn-primary" %>
                 <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="card card-chart">
                  <div class="card-header ">
                    <h3 class="card-title"><i class="tim-icons icon-send text-success "></i> Vos parties à venir :</h3>
                  </div>
                  <div class="card-body ">
                    <table class="table tablesorter" >
                      <thead class=" text-primary">
                        <th>Créateur</th>
                        <th>Lieu</th>
                        <th>Date</th>
                        <th>Format joué</th>
                        <th>Adversaire</th>
                      </thead>
                      <tbody>
                          <%@games.each do |game| %>
                          <tr>
                          <% if game.user_creator_id == current_user.id || game.user_opponent_id == current_user.id %>
                            <td>
                                  <a href="/profile/<%= game.user_creator_id %>">
                                  <%= User.find(game.user_creator_id).profile.username %></a> 
                            </td>
                            <td><%= game.place %></td>
                            <td><%= game.date.strftime('%d-%m-%Y') %></td>
                            <td><%= game.game_format %></td>
                            <td><% if game.user_opponent_id? %>
                                  <a href="/profile/<%= game.user_opponent_id %>">
                                  <%= User.find(game.user_opponent_id).profile.username %></a>
                                <% else %>
                                -
                                <% end %>
                            </td>
                            <td><a href="<%= game_path(game.id) %>" class="btn btn-primary">info</a></td>
                          </tr>
                          <% end %>
                        <%end%>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card  card-user">
              <div class="card-body ">
                <p class="card-text">
                  <div class="author">
                    <div class="block block-one"></div>
                    <div class="block block-two"></div>
                    <div class="block block-three"></div>
                    <div class="block block-four"></div>
                    <a href="/profil">
                      <img class="avatar" src="/assets/Jacquouille.jpg" alt="...">
                      <h5 class="title"><%= current_user.profile.username %></h5>
                    </a>
                    <p class="description">
                      <%= current_user.profile.favorite_color %> / <%= current_user.profile.favorite_format %>
                    </p>
                  </div>
                </p>
                <p class="card-description">
                  <%= current_user.profile.bio %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

