<!DOCTYPE html>
<html>
  <head>
    <title>MagicAtHome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  </head>

  <body>
    <% if flash[:success] %>
      <div class="alert alert-success"> <%= flash[:success] %> </div>
    <%end%>
    <% if flash[:danger] %>
      <div class="alert alert-danger"> <%= flash[:danger] %> </div>
    <%end%>
    <% if flash[:notice] %>
      <div class="alert alert-danger"> <%= flash[:notice] %> </div>
    <%end%>

    <%= yield %>
  </body>
</html>
