<%= stylesheet_link_tag params[:controller] %>
<div class="wrapper  ">
  <div class="container">
    <div class="content ">
      <div class="col-lg-7 ">
        <div class="card card-chart">
          <div class="card-header ">
            <h3 class="card-title float-left font-weight-bold">S'inscrire</h3>
          </div>
          <div class="card-body ">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
          </div>

          <div class="field">
            <%= f.label :email, class: 'text-white' %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password, class: 'text-white' %>
            <% if @minimum_password_length %>
            <em class="text-white">(<%= @minimum_password_length %> charactères minimums)</em>
            <% end %><br />
            <%= f.password_field :password, class: 'text-dark', autocomplete: "new-password"%>
          </div>

            <div class="field">
              <%= f.label :password_confirmation, class: 'text-white' %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div><br>

            <div class="actions">
              <%= f.submit "S'inscrire", class: 'btn btn-primary btn-sm'%>
            </div>
              <% end %>

          <div class="shared">
            <%= render "users/shared/links" %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
